Repository pinterest/bonsai: changes, and which Codecov flags are due for each by the changed paths.
All: test-helpers, cli, components, utils, stats, types

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...80"

  status:
    project:
      default: off
      core:
        target: 100%
        flags:
          - components
          - utils
          - stats
      helpers:
        target: 0%
        flags:
          - test-helpers
          - types
      cli:
        target: 50%
        flags:
          - cli
    patch:
      default:
        flags: !components
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: no

flags:
  test-helpers:
    paths:
      - src/__test__helpers__/
  cli:
    paths:
      - src/cli/
  components:
    paths:
      - src/components/
  utils:
    paths:
      - src/utils/
  stats:
    paths:
      - src/stats/
  types:
    paths:
      - src/types/

Make sure we bring addon-actions to 3.2.17 too
  package.json
  yarn.lock
Due: none

Explicitly run on node v9
  .travis.yml
Due: none

Export the path to work around travis/trusty issue
  .travis.yml
Due: none

Drop support for node v7
  .travis.yml
Due: none

Create a dropdown that can filter the items for the chunk dropdown
  src/components/Bootstrap/Dropdown.js
  src/components/Bootstrap/DropdownList.js
  src/components/Bootstrap/__stories__/DropdownList.stories.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/ChunkDropdown.js
Due: components

Bump addon-storyshpts and addon-actions to 3.2.18 as well
  package.json
  yarn.lock
Due: none

Refactor multi-config logic into a new picker to support multi-config stats files.
  src/cli/fileSystemHelper.js
  src/components/Bootstrap/DropdownList.js
  src/components/FileSelectors.js
  src/components/FileSelectorsContainer.js
  src/components/JsonFilePicker.js
  src/components/__stories__/FileSelectors.stories.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/ChunkDropdown.js
  src/stats/chunkSizes.js
  src/types/__tests__/getRawStats.test.js
  src/types/getRawStats.js
  src/utils/__tests__/reducer.test.js
  src/utils/actions.js
  src/utils/reducer.js
Due: cli, components, utils, stats, types

Extract scripts into new folder.
  .travis.yml
  package.json
  scripts/build-integration-fixtures.sh
  scripts/clean.sh
  scripts/postversion.sh
  scripts/preversion.sh
Due: none

Get some integration tests based on webpack/webpack and their examples
  .flowconfig
  .gitignore
  .travis.yml
  dev-server/api/index.json
  package.json
  scripts/build-integration-fixtures.sh
  scripts/build-webpack-examples.sh
  scripts/clean.sh
  scripts/template-webpack-build-common.js
  src/integration/configs.test.js
  src/integration/webpack-examples.test.js
  yarn.lock
Due: none

Simplify webpack-example tests to just check children-configs/chunks/module counts
  .travis.yml
  src/cli/fileSystemHelper.js
  src/integration/webpack-examples.test.js
  src/types/__tests__/getRawStats.test.js
  src/types/getRawStats.js
  src/utils/__tests__/reducer.test.js
  src/utils/actions.js
Due: cli, utils, types

use https url for cloning webpack
  scripts/build-webpack-examples.sh
Due: none

re-add console messaging from within getRawStats
  .travis.yml
  src/types/__tests__/getRawStats.test.js
  src/types/getRawStats.js
Due: types

Switch the file & child-config dropdowns to use the nice Bootstap styled one
  src/components/Bootstrap/DropdownList.js
  src/components/Bootstrap/__stories__/DropdownList.stories.js
  src/components/FileSelectors.js
  src/components/JsonFilePicker.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/ChunkDropdown.js
Due: components

Show the breadcrumb bar when chunk 0 (zero) is selected
  src/components/stats/ChunkBreadcrumbContainer.js
Due: components

Find & show the asset name & size in the dropdown and breadcrumb
  src/components/stats/ChunkBreadcrumb.js
  src/components/stats/ChunkDropdown.js
  src/stats/getEntryChunks.js
  src/stats/getEntryHeirarchy.js
Due: components, stats

chore(package): update lockfile
  yarn.lock
Due: none

Disable webpack-examples so we can land all the updates
  .travis.yml
Due: none

cleanup yarn.lock
  yarn.lock
Due: none

Let integration tests fail if webpack-examples are not built
  src/integration/webpack-examples.test.js
Due: none

Add check so clearTimeout passes flow
  src/utils/debounce.js
Due: utils

Update yarn.lock file
  yarn.lock
Due: none

Add a getExtendedModulesByName helper
  src/stats/collapseModulesToRows.js
  src/stats/getCollapsableParentOf.js
  src/stats/getExtendedModulesById.js
  src/stats/getModulesById.js
Due: stats

Remove duplicate jest step
  .travis.yml
Due: none

Remove source from store after parsing stats
  src/types/__tests__/getRawStats.test.js
  src/types/getRawStats.js
Due: types
