Repository pinterest/bonsai: changes, and which Codecov flags are due for each by the changed paths.
All: test-helpers, cli, components, utils, stats, types

Let the <Unit> component be different types
  src/components/Unit.js
  src/components/__stories__/Unit.stories.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/BlacklistTable.js
  src/components/stats/BlacklistTableBody.js
  src/components/stats/ModuleTableBody.js
Due: components

Remove extra td nodes on each row when REACT_APP_EXTERNAL_URL_PREFIX is not set
  src/components/stats/ModuleTableBody.js
  src/components/stats/ModuleTableHead.js
Due: components

Don't filter css lists with `_ => _`
  src/components/Bootstrap/Button.js
  src/components/Bootstrap/Dropdown.js
  src/components/OffsetPageAnchor.js
  src/components/__tests__/OffsetPageAnchor.test.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/ChunkDropdown.js
  src/components/stats/ModuleTableBody.js
  src/components/stats/formatModuleName.js
Due: components

Stop creating document click listeners for every Dropdown on the page
  src/components/Bootstrap/Dropdown.js
Due: components

Use glyphicons in the header so they download earlier.
  src/components/Navbar.js
Due: components

Console log time spent in reducer and computing values
  package.json
  src/__test_helpers__/shims.js
  src/components/stats/ModuleTable.js
  src/utils/__tests__/withTimings.test.js
  src/utils/reducer.js
  src/utils/withTimings.js
  yarn.lock
Due: components, utils

Make the module name column expand as much as posssible.
  src/components/stats/ModuleTableBody.css
  src/components/stats/ModuleTableBody.js
Due: components

chore(package): update lockfile
  yarn.lock
Due: none

Make the cicular dependencies button a bigger click target.
  src/components/stats/LoopTable.js
Due: components

Build out a little loading spinner component
  src/components/App.js
  src/components/LoadingSpinner.css
  src/components/LoadingSpinner.js
  src/components/__stories__/LoadingSpinner.stories.js
Due: components

Don't use glyphicon classes directly.
  src/components/stats/BlacklistTableBody.js
Due: components

Replace glyphicons with octicons
  package.json
  src/components/Bootstrap/Dropdown.js
  src/components/Bootstrap/GlyphiconNames.js
  src/components/Bootstrap/__stories__/Button.stories.js
  src/components/Bootstrap/__stories__/Dropdown.stories.js
  src/components/LoadingSpinner.css
  src/components/LoadingSpinner.js
  src/components/Navbar.js
  src/components/SortLabel.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/BlacklistTableBody.js
  src/components/stats/ExternalModuleLink.js
  src/components/stats/FilterDisplay.js
  src/components/stats/LoopTable.js
  src/components/stats/ModuleTableBody.js
  src/components/stats/ToggleExpandModeButton.js
  src/components/stats/__stories__/ExternalModuleLink.stories.js
  yarn.lock
Due: components

Stop testing node 6 because octicons have no osupport there
  .travis.yml
Due: none

Handle re-render and refreshing the redux store with hot-module-loading
  src/index.js
Due: none

Refine types and get lint warnings from flow
  .flowconfig
  src/components/stats/formatModuleName.js
  src/stats/sortModules.js
Due: components, stats

improve eslint rules outside of the CRA ones
  .eslintrc.js
  src/cli/resolveArgs.js
  src/components/SortLabel.js
Due: cli, components

getEntryHierarchy spelling fix
  src/components/FileSelectors.js
  src/components/stats/ChunkBreadcrumb.js
  src/components/stats/ChunkDropdown.js
  src/components/stats/__stories__/ChunkBreadcrumb.stories.js
  src/stats/__tests__/__snapshots__/getEntryHierarchy.test.js.snap
  src/stats/__tests__/getEntryHierarchy.test.js
  src/stats/__tests__/getParentChunks.test.js
  src/stats/chunkSizes.js
  src/stats/fullModuleData.js
  src/stats/getChunkModules.js
  src/stats/getEntryHierarchy.js
  src/stats/getParentChunks.js
Due: components, stats

Pre-calculate collapsedSizeBytes outside of ModuleTableBody
  src/components/stats/ModuleTableBody.js
  src/stats/collapseModulesToRows.js
  src/types/Stats.js
Due: components, stats, types

Simplify ModuleTable props even more.
  src/components/stats/ModuleDataContainer.js
  src/components/stats/ModuleTable.js
  src/components/stats/ModuleTableContainer.js
  src/components/stats/SelectedChunk.js
Due: components

Adjust table props passing.
  src/components/stats/ModuleDataContainer.js
  src/components/stats/ModuleTable.js
  src/components/stats/ModuleTableContainer.js
Due: components

Remove OffsetAnchor fade background target color.
  src/components/OffsetPageAnchor.css
Due: components

Fix recursion errors in getEntryHierarchy
  src/stats/getEntryHierarchy.js
Due: stats

Blow up ModuleTableContainer and put the data access lower, closer to the components that use it.
  src/components/stats/ModuleDataContainer.js
  src/components/stats/ModuleTable.js
  src/components/stats/ModuleTableBody.js
  src/components/stats/ModuleTableBodyContainer.js
  src/components/stats/ModuleTableHead.js
  src/components/stats/ModuleTableHeadContainer.js
Due: components

Split some components to make them smaller, and live in the top of the tree
  src/components/App.js
  src/components/FileSelectors.js
  src/components/FileSelectorsContainer.js
  src/components/stats/ChunkDropdown.js
  src/components/stats/ChunkDropdownContainer.js
  src/components/stats/ConfigDropdown.js
  src/components/stats/ConfigDropdownContainer.js
Due: components

Facelift with bootstrap 4
  package.json
  src/components/App.js
  src/components/Bootstrap/Button.js
  src/components/Bootstrap/Color.js
  src/components/Bootstrap/Dropdown.js
  src/components/Bootstrap/Panel.js
  src/components/FileSelectors.js
  src/components/Navbar.js
  src/components/stats/BlacklistTable.js
  src/components/stats/BlacklistTableBody.js
  src/components/stats/ChunkBreadcrumb.js
  src/components/stats/LoopTable.js
  src/components/stats/ModulePanels.js
  src/components/stats/ModuleTable.js
  src/components/stats/ModuleTableBody.js
  src/components/stats/ModuleTableHead.js
  src/components/stats/SelectedChunk.js
  src/components/stats/ToggleExpandModeButton.js
  src/index.css
  yarn.lock
Due: components

Throw together a debug mode
  src/components/App.js
  src/components/AppContainer.js
  src/components/Navbar.js
  src/components/stats/DebugAssetList.js
  src/components/stats/DebugView.js
  src/components/stats/DebugViewContainer.js
  src/utils/actions.js
  src/utils/reducer.js
Due: components, utils

add reactstrap for easier bootstrap components
  package.json
  yarn.lock
Due: none

Remove OffsetAnchor fade background target color.
  src/components/OffsetPageAnchor.css
  src/components/OffsetPageAnchor.js
  src/components/__stories__/OffsetPageAnchor.stories.js
  src/components/__tests__/OffsetPageAnchor.test.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
Due: components

update yarn.lock
  yarn.lock
Due: none

Path conditions:
  test-helpers: any of: src/__test__helpers__/
  cli: any of: src/cli/
  components: any of: src/components/
  utils: any of: src/utils/
  stats: any of: src/stats/
  types: any of: src/types/
