Repository pinterest/bonsai: changes, and which Codecov flags are due for each by the changed paths.
All: test-helpers, cli, components, utils, stats, types

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...80"

  status:
    project:
      default: off
      core:
        target: 100%
        flags:
          - components
          - utils
          - stats
      helpers:
        target: 0%
        flags:
          - test-helpers
          - types
      cli:
        target: 50%
        flags:
          - cli
    patch:
      default:
        flags: !components
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: no

flags:
  test-helpers:
    paths:
      - src/__test__helpers__/
  cli:
    paths:
      - src/cli/
  components:
    paths:
      - src/components/
  utils:
    paths:
      - src/utils/
  stats:
    paths:
      - src/stats/
  types:
    paths:
      - src/types/

Fix somem lint and test failures
  src/components/FileSelectors.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/ConfigDropdownContainer.js
  src/stats/__tests__/collapseModulesToRows.test.js
Due: components, stats

chore(package): update lockfile
  yarn.lock
Due: none

Add visual regression testing
  package.json
  yarn.lock
Due: none

Replace node 9 with 12 as a test target
  .travis.yml
Due: none

Update babel-eslint to ^10.0.1
  package.json
  yarn.lock
Due: none

Split storyshots snapshots into multiple files
  src/components/Bootstrap/__stories__/__snapshots__/Button.stories.storyshot
  src/components/Bootstrap/__stories__/__snapshots__/Dropdown.stories.storyshot
  src/components/Bootstrap/__stories__/__snapshots__/DropdownList.stories.storyshot
  src/components/Bootstrap/__stories__/__snapshots__/Panel.stories.storyshot
  src/components/__stories__/__snapshots__/App.stories.storyshot
  src/components/__stories__/__snapshots__/FileSelectors.stories.storyshot
  src/components/__stories__/__snapshots__/LoadingSpinner.stories.storyshot
  src/components/__stories__/__snapshots__/OffsetPageAnchor.stories.storyshot
  src/components/__stories__/__snapshots__/SortLabel.stories.storyshot
  src/components/__stories__/__snapshots__/Unit.stories.storyshot
  src/components/__tests__/Storyshots.test.js
  src/components/__tests__/__snapshots__/Storyshots.test.js.snap
  src/components/stats/__stories__/__snapshots__/BlacklistTable.stories.storyshot
  src/components/stats/__stories__/__snapshots__/ChunkBreadcrumb.stories.storyshot
  src/components/stats/__stories__/__snapshots__/ExternalModuleLink.stories.storyshot
  src/components/stats/__stories__/__snapshots__/ToggleExpandModeButton.stories.storyshot
  src/components/stats/__stories__/__snapshots__/formatModuleName.stories.storyshot
Due: components

Use package.json resolutions until jest versions are sorted out
  package.json
Due: none

Fix missing type annotations and upgrade connect() so flow v98 is happy.
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/redux_v3.x.x.js
  src/components/App.js
  src/components/AppContainer.js
  src/components/Bootstrap/DropdownList.js
  src/components/FileSelectors.js
  src/components/FileSelectorsContainer.js
  src/components/__stories__/FileSelectors.stories.js
  src/components/stats/BlacklistTable.js
  src/components/stats/BlacklistTableContainer.js
  src/components/stats/ChunkBreadcrumb.js
  src/components/stats/ChunkBreadcrumbContainer.js
  src/components/stats/ChunkDropdown.js
  src/components/stats/ChunkDropdownContainer.js
  src/components/stats/ConfigDropdown.js
  src/components/stats/ConfigDropdownContainer.js
  src/components/stats/LoopTable.js
  src/components/stats/LoopTableContainer.js
  src/components/stats/ModulePanelContainers.js
  src/components/stats/ModulePanels.js
  src/components/stats/ModuleTable.js
  src/components/stats/ModuleTableBody.js
  src/components/stats/ModuleTableBodyContainer.js
  src/components/stats/ModuleTableContainer.js
  src/components/stats/ModuleTableHead.js
  src/components/stats/ModuleTableHeadContainer.js
  src/components/stats/ToggleExpandModeButton.js
  src/components/stats/formatModuleName.js
  src/stats/filterModules.js
  src/utils/reducer.js
Due: components, utils, stats

Update flowtype definitions with `npm flow-typed install --skip`
  flow-typed/npm/@storybook/react_v5.x.x.js
  flow-typed/npm/invariant_v2.x.x.js
  flow-typed/npm/react-test-renderer_v16.x.x.js
Due: none

chore(package): update react-redux to version 7.0.2
  package.json
  yarn.lock
Due: none

Update webpack.config file location to fix auto-deploy
  .travis.yml
Due: none

Extract travis before_deploy command to `yarn predeploy`
  .travis.yml
  package.json
  webpack.config.js
Due: none

Split shims into test-only and global files.
  src/__test_helpers__/shims.js
  src/index.js
  src/setupTests.js
  src/shims.js
Due: none

Fix the build commands for the cli
  .babelrc.cli
  .flowconfig
  .travis.yml
  package.json
  src/cli.js
  src/cli/main.js
  yarn.lock
Due: cli

Fix building some of the webpack examples
  scripts/build-webpack-examples.sh
  scripts/template-webpack-build-common.js
Due: none

WIP
  src/cli/getParser.js
  src/cli/main.js
  src/stats/assetBasics.js
  src/types/Stats.js
  src/types/getRawStats.js
  www.json
Due: cli, stats, types

wip - diagnostic cli commands
  out.json
  src/cli/getParser.js
  src/cli/main.js
  src/stats/chunkBasics.js
  src/types/Stats.js
Due: cli, stats, types

Update eslint plugin dependencies
  package.json
  yarn.lock
Due: none

Remove flow-typed dependency
  package.json
  yarn.lock
Due: none

Update flow-annotation-check to v1.11.2
  package.json
  yarn.lock
Due: none

Update flow-bin from 98 to 104
  package.json
  src/stats/filterModules.js
  yarn.lock
Due: stats

Update eslint version from 5 to 6
  .eslintrc.js
  package.json
  yarn.lock
Due: none
